.container {
    width: 800px;
    margin: auto;
}

.panel .pad {
    padding: 0 15px;
}

.panel.flip .action {
    display: none;
}

.panel {
    width: 200px;
    height: 300px;
    margin: 20px;
    position: relative;
    display: inline-block;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    cursor: pointer;
}

.panel .front {
    z-index: 900;
    width: inherit;
    height: inherit;
    background: #fff;
    -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transform: rotateX(0deg) rotateY(0deg);
    -o-transform-style: preserve-3d;
    -o-backface-visibility: hidden;
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .front {
    z-index: 900;
    background: #fff;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.panel .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    background: #fff;
    border: 1px solid #000;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transform: rotateY(-180deg);
    -o-transform-style: preserve-3d;
    -o-backface-visibility: hidden;
    -ms-transform: rotateY(-180deg);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .back {
    z-index: 1000;
    background: #fff;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.frontTitle {
    padding-top: 5px;
    text-align: center;
    font-family: 'latoregular', arial;
    font-size: 18px;
    color: #000;
    height: 45px;
}

.frontLogo {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

.bookBgImg {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}

.walden-thoreau {
    background-image: url('../images/books/walden-thoreau.jpg');
}

.rye_catcher {
    background-image: url('../images/books/rye_catcher.jpg');
}

.thecelestineprophecy {
    background-image: url('../images/books/thecelestineprophecy.jpg');
}

.henry_david_thoreau {
    background-image: url('../images/books/henry_david_thoreau.jpg');
}

.danielquinn_ishmael {
    background-image: url('../images/books/danielquinn_ishmael.jpg');
}

.the_case_for_christ {
    background-image: url('../images/books/the_case_for_christ.jpg');
}

.frontLocation {
    padding-top: 10px;
    text-align: center;
    color: #aaa;
    font-family: 'latoregular', arial;
    font-size: 18px;
}

.backTitle {
    padding: 10px;
    color: #000;
    font-family: 'latohairline', arial;
    font-size: 16px;
    font-weight: bold;
}

.backParagraph {
    padding: 10px;
    padding-top: 0;
    color: #000;
    font-family: 'latoregular', arial;
    font-size: 12px;
}

.backGoto {
    position: absolute;
    color: #06f;
    font-family: 'latoregular', arial;
	bottom: 6px;
	font-size: 12px;
	left: 6px;
}

.backGoto a {
    text-decoration: none;
    color: #002A74;
    -webkit-transition: 0.1s all linear;
    -moz-transition: 0.1s all linear;
    -o-transition: 0.1s all linear;
    transition: 0.1s all linear;
    font-size: 70%;
}

.backGoto a:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: 80%;
}